body{
	background-color: #134a8e;
	font: 25px Segoe UI;
	color: white;
}


#heading {
	text-align: center;
	font: 25px Segoe UI;
	font-weight: bold;
	margin-bottom: 20px;
}


.bo_column {
	border-radius: 20px;
	background-color: #1D2D5C;
}

#batting_orders{
  position: relative;
  overflow: auto;
}

#batting_order_wrapper {
  /* width is always 100% and always aligned to bottom */
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  display: table;

}

#home_bo {
	/* force div to have at least 300px and exclude #right from its width */
	overflow: hidden;
	/*  min-width: 300px;*/
	margin:1%;
	margin-top: 0;
	width: 45%;
	min-width: 300px;
	height: 850px;
	display: table-column; 
	float: left;

}

#away_bo {
  	/* show on the right; width always set, height equal to #left's height */
  	float: right;
	margin:1%;
	margin-top: 0;
	width: 45%;
	height: 850px;
	display: table-column;

}

@media screen and (max-width: 600px) {
  #home_bo {
		float: left;
		min-width: 95%;
	  	margin: 1%;
	 
  }
  #away_bo {
	  	float: left;
	  	min-width: 95%;
	  	margin: 1%;
	
  }
}


.bo_container{
	margin-left: 15px;
	margin-bottom: 20px;
	float:none;
}

.team_name{
	font-size: 30px;
	font-weight: bolder;
	text-decoration: underline;
	margin-top: 10px; 
	margin-bottom: 10px;
	text-align: center;
}

.bo_player{
	float:none;
}


.bo_num{
	float:left;
	color: #888;
}

.player_name{
	float:left;
	margin-left: 10px;
}

.player_real_name{
	float:left;
	font-weight: bold;
}

.player_nickname{
	margin-left: 5px;
	float:left;
	font-size: 23px;
	color:#bbb;
}

.player_position{
	margin-left: 10px;
	float:left;
	color: #E8291C;
	font-weight: bold;
}

.player_phys{
	float: left;
	margin-left: 10px;
	color: #888;
	font-size: 20px;
	
}

.slashline{
	margin-left: 15px;
	font-size: 23px;
	color:#888;
}

.newLine{
	clear:both;
	font-size: 9px;
}

#sign{
	color: white;
    font: 12px Segoe UI;
	text-align: center;
	vertical-align: bottom; 

}
